@import url(normalize.css);

@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Rubik:wght@300;500&display=swap');


/* body */
body {
    background-color:rgb(255, 249, 242);
    font-family: 'Rubik', sans-serif; 
    font-weight: lighter;
}

/* images */
@media screen and (min-width: 800px) {

.contact-image{
    padding-left: 50px;
    padding-bottom: 20%;
    padding-top: 10%;
    margin-left: 6%; 
}
.row-contact{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    max-width: 100%;
    max-height: 100%;
    padding-top: 1%;
}
.row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    max-width: 100%;
    max-height: 100%;
    padding-top: 1%;
}
.mission-image {
    padding-left: 80px;
    padding-bottom: 20%;
    padding-top: 5%;
    margin-left: 17%;  
} 
.mission-image-beside{
    position:absolute;
    margin-left: 4%;
    padding-top:6%;
}
.front-image{
    max-width: 90%;
    margin-left: 7%;
}
}
 /* video*/ 

video {
    max-width: 100%; 
}

.video-content {
    padding-top: 6%;
    align-items: center;
    padding-left: 50px;
}

/* Layouts */
.layout-wide {
    
    max-width: 1200px;
    padding: 10px; 
    margin-left: auto;
    margin-right: auto;
}


/* Heading and typogaphy*/

h1 {
    color:black;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 50px;
    margin-left: 3%;
    text-align: center;
}
h2 {
    color:black; 
    font-family: 'Rubik', sans-serif;
    font-weight:lighter;
    font-size: 15px;
    letter-spacing: 1px; 
    word-spacing: 1px;
    text-align: center;
    line-height: 20px;
}
h3 {
    color:#747272; 
    font-family: 'Rubik', sans-serif;
    font-weight:lighter;
    font-size: 15px;
    letter-spacing: 1px; 
    word-spacing: 1px;
    text-align: center;
    line-height: 30px;
}
h4{
    color:black; 
    font-family: 'Rubik', sans-serif;
    font-weight: normal;
    font-size: 25px;
    text-align: center;
}
p {
    color: #747272; 
    text-align: center;
}

.contact-text{
    font-family: 'Rubik', sans-serif;
    font-weight: lighter;
    letter-spacing: 1px;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}

.contact-info {
    text-align:center;
    padding-top: 3%;

}

.photography-text {
    margin-top: -4%;
}

.videography-text {
    margin-top: -4%;
}

/* Header images */

.header-block {
    display: grid;
    grid-template-columns: 320px auto;
    align-items: center; }

.header-image {
    max-width: 60%;
    margin-left: 25px;
}

.contact-header {
  margin-left: 26%; 
  padding-top: 3%;
}

.photography-header {
    margin-left: 32%;  
}

.videography-header {
    margin-left: 31%;  
}

.blog-header {
    margin-left: 43%;
    padding-top: 5%;  
}

.blog-header2 {
    margin-left: 40%; 
    padding-top: 5%; 
    padding-bottom: 2%;
}

.blog-header3 {
    margin-left: 40%; 
    padding-top: 5%; 
    padding-bottom: 2%;
}

.hello-header{
    max-width: 50%;
    margin-left: 26%;
    padding-top: 5%;
    padding-bottom: 3%;
}

/* Main Navigation*/

.nav-prompt {
    background-color:rgb(255, 249, 242);
    border:none;
    text-align:center;
    width:100%; 
    color:#747272;
    border-top-width:1px;
    border-top-color:black;
    border-top-style:hidden;

    border-bottom-width: 1px;
    border-bottom-color:black;
    border-bottom-style:hidden;

    padding-top: 20px;
    padding-bottom:20px; 
}

.navigation{
    background-color:transparent;
    position:absolute;
    right:10px;
    top:5px;
    grid-template-columns: auto;
}

.main-nav {
    list-style: none;
    padding:0px; 
}

.main-nav li{
    list-style: none;
    font-size: 24px ;
    display: grid;
    display:flex;
    justify-content: space-between;
    text-align: center;
    text-transform:initial;
    letter-spacing: -.45px; 
    
}

.main-nav a {
    color:#747272;
    font-weight: lighter;
    text-decoration: none;
    display: flex;  
}

/* this is for the nabigation mobile view only */
@media screen and (max-width: 800px){
    .nav-inner {
        max-height: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        overflow: hidden;
    }
    .nav-inner.open{
        max-height:100vh;
        background-color:rgb(255, 249, 242);
    }
}
    
/* this is to hide the nave button on desktop view */
@media screen and (min-width: 800px) 
{
   
    .nav-prompt {
        display: none;
    }
   
    .nav-inner{
        width: 500px;
    }

    .main-nav {
        display: flex;
        justify-content: space-between;
    
    }
}

/* Footer */

footer{
    background-color:rgb(245, 232, 217);
}

footer p{
    text-align: center;
}

h1{
    text-align: center;
}


/* contact fill out sheet */

.container-sheet {
    text-align:center;

}
.form-default-rows {
    padding-top: 2%;
}


/* containers */
@media screen and (max-width: 800px) {
.container {
    margin: 0 auto;
    position: relative;
}
}