@import url(normalize.css);

@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Rubik:wght@300;500&display=swap');
/* GLOBAL DEFAULTS (only i can see these comments) */

body {
    background-color:white; 
    font-family: 'Rubik', sans-serif; 
    font-weight: lighter;
}


img {
    max-width: 100%;
}


video{
    max-width: 100%;
}

/* Layouts */
.layout-wide {
    
    max-width: 1200px;
    padding: 10px; 
    margin-left: auto;
    margin-right: auto;
}

.layout-superwide {
max-width: 100%;
background-color:white;
}

/*Logo*/

.header-logo {
    max-width: 100px;
}



/* Heading and typogaphy*/

h1 {
    color:black;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 48px;
    margin-left: 3%;

}
h2 {
    color:tan;
    background-color:cornsilk;
    font-family: 'Rubik', sans-serif;
    font-size: 36px;


}
h3,
h4,
h5 {
    color:tan;
    font-family: 'Rubik', sans-serif;
}




/* Header */

.header-block {
    display: grid;
    grid-template-columns: 320px auto;
    align-items: center;
    
}

/* Navigation*/

/* Footer */

/* Modules */

/*Redscale images*/

.column{
    float: left;
    width: 32%;
    padding: 5px;
    margin-left: 3px;
    margin-right: 3px; 
}


