@import url(normalize.css);
/* GLOBAL DEFAULTS (only i can see these comments) */

body {
    background-color:white; 
    font-family:sans-serif}


img {
    max-width: 100%;
}


video{
    max-width: 100%;
}

/* Layouts */
.layout-wide {
    
    max-width: 1200px;
    padding: 10px; 
    margin-left: auto;
    margin-right: auto;
}

.layout-superwide {
max-width: 100%;
background-color:white;
}

/*Logo*/
.layout-small {
    max-width: 6%;
    margin-left: 28%;     
    
}




/* Heading and typogaphy*/

h1 {
    color:black;
}
h2, 
h3,
h4,
h5 {
    color:burlywood;

}


h1{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
    margin-left: 3%;
}

h2{
    font-size: 30px;
    background-color:cornsilk;
}

/* Header */

/* Navigation*/

/* Footer */

/* Modules */

/*Redscale images*/

.column{
    float: left;
    width: 32%;
    padding: 5px;
    margin-left: 3px;
    margin-right: 3px; 
}


